.LandingPage {
  text-align: center;
}

.LandingPage-logo {
  animation: Landing-logo-spin infinite 20s linear;
  height: 40px;
}



.LandingPage-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.LandingPage-intro {
  margin-top: 20px;
  font-size: large;
}

@keyframes Landing-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media print, screen and (min-width: 40em) {
  .LandingPage-logo {
    height: 80px;
  }
  .LandingPage-header {
    height: 150px;
  }
}