.CardRank > select {
  padding-right: 0;
}

.CardRank-table > thead > tr > .sort-th:hover {
  cursor: pointer;
  background-color: #6cc2db;
}

.CardRank-table > thead > tr > th:first-child,
.CardRank-table > tbody > tr > td:first-child {
  min-width: 2rem;
  text-align: right;
}

.CardRank-table > thead > tr > th:nth-child(2),
.CardRank-table > tbody > tr > td:nth-child(2) {
  min-width: 21rem;
  max-width: 21rem;
}

.CardRank-table > thead > tr > th,
.CardRank-table > tbody > tr > td {
  min-width: 10rem;
  max-width: 10rem;
}
