.ResetPasswordPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .ResetPasswordForm {
    margin-bottom: 20em;
    input[type="submit"] {
      cursor: pointer;
      border: none;
      width: 10em;
      color: #fff;
      border-radius: 5px;
      display: block;
      margin: 0 auto;
      background-color: #1aafdb;
      text-align: center;
      padding: 1em;
      &:hover {
        background-color: #1a9fdb;
      }
      &:active {
        background-color: #1a88db;
      }
    }
  }
}
