.TopEdges-limit[type='text'] {
  margin-bottom: 0.5rem;
}

.TopEdges-table > tbody > tr:nth-child(even):hover,
.TopEdges-table > tbody > tr:hover {
  background-color: #ffff99;
}

.TopEdges > select {
  padding-right: 0;
}

.TopEdges-table > thead > tr > .sort-th:hover {
  cursor: pointer;
  background-color: #6cc2db;
}

.TopEdges-table > thead > tr > th,
.TopEdges-table > tbody > tr > td {
  min-width: 10rem;
  max-width: 10rem;
}
