.TopEdges-limit[type='text'] {
  margin-bottom: 0.5rem;
}

.TopEdges-table > tbody > tr:nth-child(even):hover,
.TopEdges-table > tbody > tr:hover {
  background-color: #ffff99;
}

.TopEdges > select {
  padding-right: 0;
}
