.graph-wrapper {
  height: 100%;
  > #graph {
    height: 100%;
    > svg {
      width: 100%;
      height: 100%;
    }
  }
  > #tooltip {
    display: inline;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
  }
  table {
    width: 50em;
    th {
      width: 15em;
    }
    td {
      background-color: none;
      text-align: center;
      width: 5em;
      &.success {
        background-color: #77dd77;
      }
      &.danger {
        background-color: #ff6347;
      }
    }
  }
}
