.commandResponse {
  white-space: pre-line;
  font-size: 11px;
}

.importerButtons {
  margin: 8px 0px;
}

.importerStatus {
  font-size: 15px;
}

.separator {
  border-bottom: thin solid #EEE;
  margin: 20px 0px;
}
