.GraphExplorerPage {
  height: 100%;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.GraphExplorerPage > .TopEdges {
  padding-right: 1rem;
}

.GraphExplorerPage > .Graph {
  flex-grow: 1;
  width: auto;
}

.error {
  background-color: #ff9494;
  padding: 1rem;
}
