li.historyItem {
  margin-bottom: 1em;
  padding-right: 3em;
  margin-left: 0;
  list-style-type: none;
  cursor: pointer;
  color: #999;
  > code {
      color: inherit;
      background-color: none;
      border: none;
      padding: 0;
    > pre {
      padding: 1em;
      border: 1px solid #cacaca;
      background-color: #e6e6e6;
      background-color: #fbfbfb;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
  }
  > :hover {
    color: #000;
  }
}
